/*
Fonts
*/
@font-face {
  font-family: b612mono;
  src: url('fonts/B612Mono-Regular.ttf');
}

/*
Initialization and themes
*/
html, body {
  margin: 0;
}
body {
  --main-bg: #363538;
  --footer-bg: #1d1d1d;
  --border: #6b6b6d;
  --fg: #ddd;
  --selected: #1eaec4;
  --selected-middle: #1eaec422;

  --wire-off: #321a1f;
  --wire-on: #e7324b;

  --opposite: #ddd;

  --gate-border-width: 3px;

  position: relative;
  margin: auto;

  font-family: b612mono;
  font-weight: 700;
}
body.light-theme {
  --main-bg: #e7e5e5;
  --footer-bg: #a5a5a5;
  --border: #b9b9b9;
  --fg: #ddd;

  --opposite: #000;
}


/*
Making everything consistent
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  background: transparent;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
  height: 8px;
  background-color: var(--wire-off); 
  border-radius: 4px;
}
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 50%;

  width: 16px;
  height: 16px;

  background-color: var(--wire-on); 
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  background-color: var(--main-bg);

  position: relative;
}

/*
The main area and the footer as well as the header
*/
.main {
  height: calc(95vw / 16 * 9);
  max-height: 90vh;
  aspect-ratio: 16 / 9;

  border: 5px solid var(--border);

  position: relative;

  overflow: hidden;
}

.footer {
  width: 95%;
  height: calc(var(--unit) * 1.4);
  background-color: var(--footer-bg);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.header div {
  background-color: var(--color);
}
.header i {
  height: var(--unit);
  background-color: var(--color);
  margin-left: calc(var(--unit) * 0.1);

  border: var(--gate-border-width) solid rgb(255 255 255 / 0.2);
  border-right: var(--gate-border-width) solid rgb(0 0 0 / 0.2);
  border-bottom: var(--gate-border-width) solid rgb(0 0 0 / 0.2);

  border-radius: 0 calc(var(--unit) * 0.2) calc(var(--unit) * 0.2) 0;

  display: flex;
  align-items: center;
  font-size: calc(var(--unit) * 0.6);
  padding: calc(var(--unit) * 0.2);

  box-sizing: border-box;

  color: var(--fg);
  font-weight: 100;

  cursor: pointer;
}

/*
Gates
*/
.gate {
  min-width: calc(var(--unit) * 3);
  width: calc(var(--unit) * (var(--name-length) / 2 + 1.5));

  min-height: var(--unit);
  height: max(calc(var(--unit) * var(--num-outputs) * 0.75), calc(var(--unit) * var(--num-inputs) * 0.75));

  position: absolute;

  text-transform: uppercase;
  font-size: calc(var(--unit) / 2);

  user-select: none;

  letter-spacing: calc(var(--unit) / 2 - 1ch);
  color: var(--fg);

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;

  border: var(--gate-border-width) solid rgb(255 255 255 / 0.2);
  border-right: var(--gate-border-width) solid rgb(0 0 0 / 0.2);
  border-bottom: var(--gate-border-width) solid rgb(0 0 0 / 0.2);
}

.gate.in-footer {
  --num-inputs: 0;
  --num-outputs: 0;

  position: static;
  justify-content: space-around;

  margin-left: calc(var(--unit) * 0.2);
}

/*
Plugs
*/
.plug-holder {
  width: calc(var(--unit) * 0.5);
  min-height: var(--unit);
  height: max(calc(var(--unit) * var(--num-outputs) * 0.75), calc(var(--unit) * var(--num-inputs) * 0.75));
}
.plug-holder.left {
  transform: translateX(calc(-50% - var(--gate-border-width)));
}
.plug-holder.right {
  transform: translateX(calc(50% + var(--gate-border-width)));
}

.plug {
  width: 100%;
  aspect-ratio: 1 / 1;

  position: absolute;

  border-radius: 100%;

  background-color: black;
}


/*
Wires
*/
.wire {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.wire-svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wire-svg path {
  stroke: var(--wire-off);
  stroke-width: calc(var(--unit) * 0.15);
  fill: none;

  pointer-events: stroke;
}
.wire:hover .wire-svg path {
  stroke-width: calc(var(--unit) * 0.25);
}
.wire.preview .wire-svg path {
  pointer-events: none;
}
.wire-point {
  position: absolute;

  width: calc(var(--unit) * 0.5);
  aspect-ratio: 1 / 1;

  translate: -50% -50%;

  border-radius: 50%;

  z-index: 1000;

  pointer-events: none;
}

/*
The angles info
*/
.angles {
  position: absolute;
  z-index: 100;

  pointer-events: none;
}
.angle {
  position: absolute;
  background: rgb(0 0 0 / 0.2);

  color: var(--fg);
  
  translate: -50% -50%;
}

/*
Styles for selected elements and selection box
*/
.selected,
.gate:hover,
.wire-point.hovering {
  outline: 2px solid var(--selected);
  outline-offset: 4px;
}
.selection {
  position: absolute;
  box-sizing: border-box;

  display: none;

  background-color: var(--selected-middle);
  border: 2px solid var(--selected);

  z-index: 10;

  pointer-events: none;
}

/*
Popups
*/
.popups {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(0 0 0 / 0.4);

  text-transform: uppercase;
  font-size: 1rem;
  color: var(--fg);
  font-weight: 700;

  z-index: 1000;
}
.popup {
  width: 24em;
  height: 16em;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--main-bg);

  border: 4px solid rgb(255 255 255 / 0.2);
  border-right: 4px solid rgb(0 0 0 / 0.2);
  border-bottom: 4px solid rgb(0 0 0 / 0.2);
}
.input-holder {
  width: 96%;
  margin: 2%;

  display: flex;
  justify-content: space-around;
  gap: 1em;
}
.input-holder > input {
  flex-grow: 1;

  text-transform: inherit;
  font-size: inherit;
  color: inherit;

  background-color: inherit;

  border: 4px solid rgb(0 0 0 / 0.2);
  border-right: 4px solid rgb(255 255 255 / 0.2);
  border-bottom: 4px solid rgb(255 255 255 / 0.2);

  outline: none;

  font-weight: 700;
}
.color-picker {
  width: 96%;
  height: 50%;
  margin: 2%;
  display: flex;
}
.color-preview {
  height: 100%;
  aspect-ratio: 1 / 1;

  background-color: var(--color);

  border: 4px solid rgb(255 255 255 / 0.2);
  border-right: 4px solid rgb(0 0 0 / 0.2);
  border-bottom: 4px solid rgb(0 0 0 / 0.2);

  display: grid;
  place-items: center;
  font-size: 2em;
  text-align: center;

  user-select: none;
}
.color-sliders {
  width: 80%;
  height: 100%;
}
.color-slider {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  gap: 5%;
}
.color-slider input {
  width: 80%;
}
.actions {
  height: 20%;
  gap: 3%;
}
.action-button { 
  width: 50%;
  height: 100%;

  border: 4px solid rgb(255 255 255 / 0.2);
  border-right: 4px solid rgb(0 0 0 / 0.2);
  border-bottom: 4px solid rgb(0 0 0 / 0.2);

  cursor: pointer;

  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color: var(--fg);
  font-weight: 700;
}
.action-button.cancel {
  background-color: var(--border);
}
.action-button.confirm {
  background-color: var(--selected);
}


/*
Theme switcher
*/
.theme-switcher {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;

  cursor: pointer;

  background: none;
  color: var(--opposite);
  border: none;

  font-size: 20px;
}


.marker {
  width: calc(var(--unit) * 10);
  height: calc(var(--unit) * 10);
  transform: translate(-50%, -50%);

  
  background: radial-gradient(green 2px, transparent 2px);
  background-size: calc(var(--unit) / 4) calc(var(--unit) / 4);
  background-position: calc(var(--unit) / -2 - 3px) calc(var(--unit) / -2 - 3px);
  
  position: absolute;

  pointer-events: none;

  z-index: 1000;

  display: none;
}