/*
Fonts
*/
@font-face {
  font-family: b612mono;
  src: url('fonts/B612Mono-Regular.ttf');
}

/*
Initialization and themes
*/
html, body {
  margin: 0;
}
body {
  --main-bg: #363538;
  --footer-bg: #1d1d1d;
  --border: #6b6b6d;
  --fg: #ddd;
  --text: blanchedalmond;

  --shadow-sizing: 3px;
  --shadow-dark: #161622;
  --shadow-light: #363652;
  --shadow-up: var(--shadow-sizing) var(--shadow-sizing) var(--shadow-sizing) var(--shadow-dark), calc(var(--shadow-sizing) * -1) calc(var(--shadow-sizing) * -1) var(--shadow-sizing) var(--shadow-light);
  --shadow-down: inset var(--shadow-sizing) var(--shadow-sizing) var(--shadow-sizing) var(--shadow-dark), inset calc(var(--shadow-sizing) * -1) calc(var(--shadow-sizing) * -1) var(--shadow-sizing) var(--shadow-light);

  position: relative;
  margin: auto;

  font-family: b612mono;
  font-weight: 700;
}
body.light-theme {
  --main-bg: #363538;
  --footer-bg: #1d1d1d;
  --border: #6b6b6d;
  --fg: #ddd;

  --shadow-dark: #ccc;
  --shadow-light: #eee;
}

main {
  aspect-ratio: 16 / 9;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: var(--main-bg);
}

/*
The main area and the footer
*/
.main {
  width: 95%;
  height: 90%;

  border: 5px solid var(--border);

  position: relative;

  background:linear-gradient(white 1px, var(--main-bg) 1px);
  background-size: calc(var(--unit) / 2) calc(var(--unit) / 4);
  background-position: calc(var(--unit) / 2) calc(var(--unit) / 2);
}
.footer {
  width: 95%;
  height: calc(var(--unit) * 1.2);
  background-color: var(--footer-bg);
}

/*
Gates
*/
.gate {
  min-width: calc(var(--unit) * 3);
  width: calc(var(--unit) * ((var(--name-length)) / 2 + 1.5));
  min-height: var(--unit);

  position: absolute;
  top: var(--unit);
  left: var(--unit);

  background-color: red;

  text-transform: uppercase;
  font-size: calc(var(--unit) / 2);

  pointer-events: none;

  letter-spacing: calc(var(--unit) / 2 - 1ch);
  color: var(--text);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*
Plugs
*/
.plug-holder {
  width: calc(var(--unit) * 0.5);
  min-height: calc(var(--unit) * var(--num-inputs) * 0.75);
  height: calc(var(--unit) * var(--num-outputs) * 0.75);
}
.plug-holder.left {
  transform: translateX(-50%);
}
.plug-holder.right {
  transform: translateX(50%);
}

.plug {
  width: calc(var(--unit) * 0.5);
  height: calc(var(--unit) * 0.5);

  border-radius: 100%;

  background-color: black;
}

/*
Theme switcher
*/
.theme-switcher {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;

  cursor: pointer;

  background: none;
  color: var(--fg);
  border: none;

  font-size: 20px;
}




.marker {
  width: var(--unit);
  height: var(--unit);
  background-color: blanchedalmond;

  position: absolute;

  pointer-events: none;

  z-index: 100;
}