/*
Fonts
*/
@font-face {
  font-family: b612mono;
  src: url('fonts/B612Mono-Regular.ttf');
}

/*
Initialization and themes
*/
html, body {
  margin: 0;
}
body {
  --main-bg: #363538;
  --footer-bg: #1d1d1d;
  --border: #6b6b6d;
  --fg: #ddd;
  --text: blanchedalmond;
  --selected: #1eaec4;
  --selected-middle: #1eaec422;

  --shadow-sizing: 3px;
  --shadow-dark: #161622;
  --shadow-light: #363652;
  --shadow-up: var(--shadow-sizing) var(--shadow-sizing) var(--shadow-sizing) var(--shadow-dark), calc(var(--shadow-sizing) * -1) calc(var(--shadow-sizing) * -1) var(--shadow-sizing) var(--shadow-light);
  --shadow-down: inset var(--shadow-sizing) var(--shadow-sizing) var(--shadow-sizing) var(--shadow-dark), inset calc(var(--shadow-sizing) * -1) calc(var(--shadow-sizing) * -1) var(--shadow-sizing) var(--shadow-light);

  position: relative;
  margin: auto;

  font-family: b612mono;
  font-weight: 700;
}
body.light-theme {
  --main-bg: #363538;
  --footer-bg: #1d1d1d;
  --border: #6b6b6d;
  --fg: #ddd;

  --shadow-dark: #ccc;
  --shadow-light: #eee;
}

main {
  aspect-ratio: 16 / 9;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: var(--main-bg);
}

/*
The main area and the footer as well as the header
*/
.main {
  width: 95%;
  height: 87.5%;

  border: 5px solid var(--border);

  position: relative;

  overflow: hidden;
}
.footer {
  width: 95%;
  height: calc(var(--unit) * 1.4);
  background-color: var(--footer-bg);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.gate-info {
  height: var(--unit);

  color: var(--fg);

  display: flex;
}
.gate-info input {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-transform: uppercase;
  font-family: inherit;
  font-weight: inherit;
  color: var(--text);

  background-color: var(--main-bg);
  border: 2px solid var(--border);
}
#gate-info-hex {
  width: 5rem;
  margin-left: 10px;
}
#gate-info-color {
  width: var(--unit);
}


/*
Gates
*/
.gate {
  min-width: calc(var(--unit) * 3);
  width: calc(var(--unit) * ((var(--name-length)) / 2 + 1.5));

  min-height: var(--unit);
  height: max(calc(var(--unit) * var(--num-outputs) * 0.75), calc(var(--unit) * var(--num-inputs) * 0.75));

  position: absolute;

  text-transform: uppercase;
  font-size: calc(var(--unit) / 2);

  user-select: none;

  letter-spacing: calc(var(--unit) / 2 - 1ch);
  color: var(--text);

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 3px solid rgb(0 0 0 / 0.4);
  box-sizing: border-box;
}

.gate.in-footer {
  --num-inputs: 0;
  --num-outputs: 0;

  position: static;
  justify-content: space-around;

  margin-left: calc(var(--unit) * 0.2);
}

/*
Plugs
*/
.plug-holder {
  width: calc(var(--unit) * 0.5);
  min-height: var(--unit);
  height: max(calc(var(--unit) * var(--num-outputs) * 0.75), calc(var(--unit) * var(--num-inputs) * 0.75));
}
.plug-holder.left {
  transform: translateX(-50%);
}
.plug-holder.right {
  transform: translateX(50%);
}

.plug {
  width: calc(var(--unit) * 0.5);
  height: calc(var(--unit) * 0.5);

  position: absolute;

  border-radius: 100%;

  background-color: black;
}

/*
Styles for selected elements and selection box
*/
.selected {
  outline: 2px solid var(--selected);
  outline-offset: 4px;
}
.selection {
  position: absolute;
  box-sizing: border-box;

  display: none;

  background-color: var(--selected-middle);
  border: 2px solid var(--selected);

  z-index: 10;

  pointer-events: none;
}


/*
Theme switcher
*/
.theme-switcher {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;

  cursor: pointer;

  background: none;
  color: var(--fg);
  border: none;

  font-size: 20px;
}




.marker {
  width: calc(var(--unit) * 10);
  height: calc(var(--unit) * 10);
  transform: translate(-50%, -50%);

  
  background: radial-gradient(black 1px, transparent 1px);
  background-size: calc(var(--unit) / 4) calc(var(--unit) / 4);
  background-position: calc(var(--unit) / -2 - 3px) calc(var(--unit) / -2 - 3px);
  
  position: absolute;

  pointer-events: none;

  z-index: 0;

  display: none;
}